<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.jack.model.SysUser">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="telephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="maill" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dept_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operate_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="operate_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>


  <sql id="Base_Column_List" >
    id, username, telephone, maill, password, dept_id, status, remark, operator, operate_time,operate_ip
  </sql>

  <select id="findByKeyword" parameterType="string" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from sys_user
    where telephone = #{keyword} or maill = #{keyword}
  </select>

  <select id="countByMail" parameterType="map" resultType="int">
    select
      count(1)
    from
      sys_user
    where maill = #{mail}
    <if test="id != null">
      and id != #{id}
    </if>
  </select>

  <select id="countByTelephone" parameterType="map" resultType="int">
    select
      count(1)
    from
      sys_user
    where telephone = #{telephone}
    <if test="id != null">
      and id != #{id}
    </if>
  </select>


  <select id="countByDeptId" parameterType="int" resultType="int">
    select
      count(1)
    from sys_user
    where dept_id = #{deptId}
  </select>


  <!--
    where dept_id = #{deptId}
    order by username asc
    limit #{page.offset},#{page.pageSize}
  -->

  <!--选中父部门会将员工显示出来
   譬如：
   研发部->前端和后端
   选中研发部会将后端和前端的员工一并显示出来
  -->
  <select id="getPageByDeptId" parameterType="map" resultMap="BaseResultMap">
    select DISTINCT
      u.id, u.username, u.telephone, u.maill, u.password, u.dept_id, u.status, u.remark, u.operator, u.operate_time,
      u.operate_ip
    FROM
    sys_user u
    left join sys_dept d on u.dept_id = d.id
    WHERE d.parent_id = #{deptId} or u.dept_id = #{deptId};
  </select>


</mapper>